body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: repeating-linear-gradient(90deg, rgba(198, 198, 198,0.05) 0px, rgba(198, 198, 198,0.05) 1px,transparent 1px, transparent 5px),repeating-linear-gradient(0deg, rgba(198, 198, 198,0.05) 0px, rgba(198, 198, 198,0.05) 1px,transparent 1px, transparent 5px),repeating-linear-gradient(0deg, rgba(198, 198, 198,0.06) 0px, rgba(198, 198, 198,0.06) 1px,transparent 1px, transparent 15px),repeating-linear-gradient(90deg, rgba(198, 198, 198,0.06) 0px, rgba(198, 198, 198,0.06) 1px,transparent 1px, transparent 15px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

#word-container {
    font-size: 24px;
    margin-bottom: 20px;
}

#guesses-container {
    font-size: 20px;
    margin-bottom: 20px;
}

#alphabet-container {
    font-size: 18px;
    margin-bottom: 20px;
}

#message {
    font-size: 18px;
    color: red;
}

#letter-input {
    padding: 5px;
    margin: 10px;
}

#guess-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos para las letras del abecedario */
.alphabet-letter {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo hover para las letras del abecedario */
.alphabet-letter:hover {
    background-color: #007bff;
    color: white;
}