body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: repeating-linear-gradient(0deg, hsla(66,43%,35%,0.09) 0px, hsla(66,43%,35%,0.09) 1px,transparent 1px, transparent 11px),repeating-linear-gradient(90deg, hsla(66,43%,35%,0.09) 0px, hsla(66,43%,35%,0.09) 1px,transparent 1px, transparent 11px),linear-gradient(90deg, hsl(120,3%,92%),hsl(120,3%,92%));
}

#word-container {
    font-size: 24px;
    margin-bottom: 20px;
}

#guesses-container {
    font-size: 20px;
    margin-bottom: 20px;
}

#alphabet-container {
    font-size: 18px;
    margin-bottom: 20px;
}

#message {
    font-size: 18px;
    color: red;
}

#letter-input {
    padding: 5px;
    margin: 10px;
}

#guess-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos para las letras del abecedario */
.alphabet-letter {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo hover para las letras del abecedario */
.alphabet-letter:hover {
    background-color: #007bff;
    color: white;
}